# ─── Domain & Proxy ────────────────────────────
DOMAIN_NAME=erp.tudominio.com

# ─── PostgreSQL ───────────────────────────────
POSTGRES_DB=odoo
POSTGRES_USER=odoo
POSTGRES_PASSWORD=change_this_password

# ─── Odoo DB connection ───────────────────────
ODOO_DB_HOST=db
ODOO_DB_PORT=5432
ODOO_DB_USER=odoo
ODOO_DB_PASSWORD=change_this_password
ODOO_ADMIN_PASSWORD=change_this_admin_password
